body {
    background-color: #f4f4f4;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

header {
    text-align: center;
    background-color: #333;
    color: white;
    margin-top: 0;
}

main {
    padding: 0 2rem 2rem 2rem;
}

/* header h1 {
    margin: 0;
} */

.parrafo {
    margin:0;
}

footer {
    background-color: #333;
    text-align: center;
    color: white;
    font-size: 0.9rem;
    padding: 10px;
}

.menu-arriba {
    background-color: #8b5d5d;
    padding: 0px;
}

.menu-arriba ul {
    list-style: none;
    display: flex;        /* Usamos Flexbox para alinear los elementos de una lista */
    padding: 0;
    justify-content: center;
    margin: 0;
}

.menu-arriba ul li {
    margin: 10px 15px;
}

.menu-arriba ul li a {
    color: white;
}

.contenido {
    padding: 20px;
}

.contenido h2 {
    color: #333;
    text-align: center;
}

.articulo {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    /* box-shadow: 0px 0px 5px black; */
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.3);
}

.articulo h3 {
    font-style: italic;
}

.enlace-privacidad {
    color: #DDD;
}